//colorScheme

$color_rpx_bg: #033962;
$color_white: #FFFFFF;
$color_grey: #F7F8FB;
$color_border_link_active: #00C4FF;
$color_link_active_indicator: #00C4FF;
$color_bg_nav_drawer: #2D7FBC;
$color_header_link_inactive: #D5D5D5;
$color_scrollbar:  #728DA2;


//font-family
$fontRoboto: 'Roboto', sans-serif;
$color_rpx_bg: #033962;
$color_white: #FFFFFF;
$color_grey: #F7F8FB;
$color_border_link_active: #00C4FF;
$color_link_active_indicator: #00C4FF;
$color_bg_nav_drawer: #2D7FBC;
$color_header_link_inactive: #D5D5D5;


//font-family
$font_roboto: 'Roboto', sans-serif;


//font-weights
$light: 300;
$medium: 400;
$bold: 700;
$black: 900;
