//colorScheme

$colorRpxBg: #033962;
$colorWhite: #FFFFFF;
$colorGrey: #F7F8FB;
$colorBorderLinkActive: #00C4FF;
$colorLinkActiveIndicator: #00C4FF;
$colorBgNavDrawer: #2D7FBC;
$colorHeaderLinkInactive: #D5D5D5;


//font-family
$fontRoboto: 'Roboto', sans-serif;


//font-weights
$light: 300;
$medium: 400;
$bold: 700;
$black: 900;
